.text-black-100 {
    --tw-text-opacity: 1;
    color: rgb(43 44 53 / var(--tw-text-opacity));
}

.mt-5 {
    margin-top: 1.25rem
        /* 20px */
    ;
}

.border-t {
    border-top-width: 1px;
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.object-contain {
    object-fit: contain;
}

.text-base {
    font-size: 1rem
        /* 16px */
    ;
    line-height: 1.5rem
        /* 24px */
    ;
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

.pt-32 {
    padding-top: 8rem
        /* 128px */
    ;
}

.mr-32 {
    margin-right: 8rem
        /* 128px */
    ;
}

.font-bold {
    font-weight: 700;
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.justify-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.mt-10 {
    margin-top: 2.5rem
        /* 40px */
    ;
}

.border-t {
    border-top-width: 1px;
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

@media (min-width: 640px) {
    .sm\:px-16 {
        padding-left: 4rem
            /* 64px */
        ;
        padding-right: 4rem
            /* 64px */
        ;
    }
}

.px-6 {
    padding-left: 1.5rem
        /* 24px */
    ;
    padding-right: 1.5rem
        /* 24px */
    ;
}

.py-10 {
    padding-top: 2.5rem
        /* 40px */
    ;
    padding-bottom: 2.5rem
        /* 40px */
    ;
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}