.continuous-text {
    animation: moveText 5s linear infinite;
    /* Sử dụng animation có tên là 'moveText' trong 2 giây, lặp vô hạn */
}


.modified-item::after {
    border: none !important;
}
/* ở mobile display none modified-item */
@media (max-width: 768px) {
    .modified-item {
        display: none !important;
    }
}
@keyframes moveText {
    0% {
        transform: translateX(100%);
        /* Bắt đầu từ vị trí ban đầu */
    }

    100% {
        transform: translateX(0);
        /* Di chuyển về phải 100% chiều rộng của phần tử */
    }
}