.header__main {
    background-color: yellow;
    /* Màu nền */
    padding: 8px 0;
    /* Khoảng cách lề trên và dưới */
}

.ant-layout-header {
    height: auto;
    /* Chiều cao tự động theo nội dung */
    padding: 0;
    /* Xóa khoảng trắng lề */
}